.popupDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #325556;
  font-size: 18px;
}

.price {
  color: #333333;
  font-weight: 600;
}

.city {
  color: #333333;
}
